### 5.12 List di Python

Figure 17: Contoh list pada Python

In [1]:
bunga = ['mawar', 'melati', 'anggrek', 'kamboja', 'sandat']
print(bunga)

['mawar', 'melati', 'anggrek', 'kamboja', 'sandat']

In [2]:
print(bunga[0])

mawar

In [3]:
print(bunga[3])

kamboja

In [4]:
print(bunga[-3])

anggrek

In [5]:
print(bunga[-1])

sandat

In [6]:
bunga[0] = 'tulip'
print(bunga)

['tulip', 'melati', 'anggrek', 'kamboja', 'sandat']

In [7]:
print(bunga[0:2])

['tulip', 'melati']

In [8]:
# tidak merubah list
print(bunga)

['tulip', 'melati', 'anggrek', 'kamboja', 'sandat']

### 5.13 Metoda List

Figure 18: Contoh metoda list pada Python

In [9]:
nama = ['Meyla', 'Arya', 'Adit']
nama.append('Cantika')
print(nama)

['Meyla', 'Arya', 'Adit', 'Cantika']

In [10]:
nama.insert(0,'Dinda')
print(nama)

['Dinda', 'Meyla', 'Arya', 'Adit', 'Cantika']

In [11]:
nama.remove('Meyla')
print(nama)

['Dinda', 'Arya', 'Adit', 'Cantika']

In [12]:
print('Meyla' in nama)

False

In [13]:
print('Adit' in nama)

True

In [14]:
print(len(nama))

4

### 5.14 For loop

Figure 19: Contoh for loop pada Python

In [15]:
bunga = ['mawar', 'melati', 'anggrek', 'kamboja', 'sandat']
for jenis in bunga:
    print(jenis)

mawar
melati
anggrek
kamboja
sandat

In [16]:
i = 0 
while i <len(bunga):
    print(bunga[i])
    i+=1

mawar
melati
anggrek
kamboja
sandat

### 5.15 Fungsi range

Figure 20: Contoh penerapan range pada Python

In [17]:
angka = range(8)
print(angka)

range(0, 8)

In [18]:
for isi in angka:
    print(isi)

0
1
2
3
4
5
6
7

In [19]:
for isi in range(4,8):
    print(isi)

4
5
6
7

In [20]:
for isi in range(0,11,3):
    print(isi)

0
3
6
9

Figure 21: Jawaban latihan mencari bilangan terbesar di dalam suatu list.

In [21]:
data = [7,5,3,1,3,5,7]
terbesar = data[0]
for i in range(len(data)):
    if data[i] > terbesar:
        terbesar = data[i]
print(terbesar)

7

In [22]:
data = [7,5,3,1,3,5,7]
terbesar = data[0]
for angka in data:
    if angka > terbesar:
        terbesar = angka
print(terbesar)

7

Figure 22: Jawaban latihan membuat anggota list menjadi unik.

In [23]:
angka = [2,3,5,7,9,1,4,6,8,0,3,5,7,9,8]
angka_unik = []
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(angka_unik)

[2, 3, 5, 7, 9, 1, 4, 6, 8, 0]

### 5.16 List 2 Dimensi

Figure 23: Contoh penerapan list 2 dimensi.

In [24]:
matrik = [
    [1,4,1,1],
    [2,1,0,5],
    [11,19,20],
    [13,17,15]
]
print(matrik)

[[1, 4, 1, 1], [2, 1, 0, 5], [11, 19, 20], [13, 17, 15]]

In [25]:
matrik[3]

[13, 17, 15]

In [26]:
matrik[1][3]

5

In [27]:
matrik[1][3]=50
print(matrik[1][3])

50

In [28]:
matrik

[[1, 4, 1, 1], [2, 1, 0, 50], [11, 19, 20], [13, 17, 15]]

Figure 24: Cara memanggil anggota dari list 2 dimensi.

In [29]:
for baris in matrik:
    print(baris)
    for kolom in baris:
        print(kolom)

[1, 4, 1, 1]
1
4
1
1
[2, 1, 0, 50]
2
1
0
50
[11, 19, 20]
11
19
20
[13, 17, 15]
13
17
15

### 5.17 Tuples

Figure 25: Contoh penerapan tuples pada Python

In [30]:
angka = (2,1,0,8,5,4)

In [31]:
print(angka[2])

0

In [32]:
print(angka[0:4])

(2, 1, 0, 8)

In [33]:
for isi in angka[0:3]:
    print(isi)

2
1
0

In [34]:
angka[0] = 0

TypeError: 'tuple' object does not support item assignment

In [35]:
angka.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
angka.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [37]:
angka.count(2)

1

In [38]:
angka.index(5)

4

### 5.18 Dictionaries

Figure 26: Contoh dictionaries.

In [39]:
data_orang = {
     "nama" : "Meyla aryani",
     "umur" : 18,
     "apakah_jomblo" : True 
 }

In [40]:
print(data_orang['nama'])

Meyla aryani

In [41]:
print(data_orang['Nama'])

KeyError: 'Nama'

In [42]:
print(data_orang.get('nama'))

Meyla aryani

In [43]:
print(data_orang.get('Nama'))

None

In [44]:
print(data_orang.get('tanggal_lahir'))

None

In [45]:
print(data_orang.get('tanggal_lahir','1-Mei-2003'))

1-Mei-2003

In [46]:
print(data_orang)

{'nama': 'Meyla aryani', 'umur': 18, 'apakah_jomblo': True}

In [47]:
print(data_orang["tanggal_lahir"])

KeyError: 'tanggal_lahir'

In [48]:
data_orang["HP"]='087861539447'

In [49]:
print(data_orang["HP"])

087861539447

In [50]:
print(data_orang)

{'nama': 'Meyla aryani', 'umur': 18, 'apakah_jomblo': True, 'HP': '087861539447'}

Figure 27: Program membaca nomor HP.

In [51]:
angka = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan",
}

In [52]:
Nomor_Induk_Mahasiswa = input("Masukkan Nomor Induk Mahasiswa anda ")
Nomor_Angka = ""
for isi in Nomor_Induk_Mahasiswa:
    Nomor_Angka += angka.get(isi) + " "
print (Nomor_Angka)

Masukkan Nomor Induk Mahasiswa anda 087426123
nol delapan tujuh empat dua enam satu dua tiga

In [53]:
Nomor_Induk_Mahasiswa = input("Masukkan Nomor Induk Mahasiswa anda ")
Nomor_Angka = ""
for isi in Nomor_Induk_Mahasiswa:
    Nomor_Angka += angka.get(isi) + " "
print (Nomor_Angka)

Masukkan Nomor Induk Mahasiswa anda 2108541039
dua satu nol delapan lima empat satu nol tiga sembilan

### 5.19 Fungsi dalam Python

Figure 28: Contoh fungsi dalam Python.

In [54]:
def full_name(first_name,last_name):
    print(f"Nama lengkapku yaitu {first_name} {last_name}")

In [55]:
first_name = input("Nama depan ku yaitu ")
last_name = input("Nama belakang ku yaitu ")
full_name(first_name,last_name)

Nama depan ku yaitu Ni Putu
Nama belakang ku yaitu Meyla Aryani
Nama lengkapku yaitu Ni Putu  Meyla Aryani

#### 5.19.1 Tugas Fungsi pada Python

Figure 29: Contoh tugas fungsi dalam Python.

In [56]:
def perpindahan_barang(usaha,gaya):
    perpindahan = usaha/gaya
    print(perpindahan)

In [57]:
def perpindahan_benda(usaha,gaya):
    perpindahan = usaha/gaya
    return perpindahan

In [58]:
perpindahan_barang(40,20)

2.0

In [59]:
perpindahan_benda(40,20)

2.0

In [60]:
x = perpindahan_barang(40,20)
print(x)

2.0
None

In [61]:
y = perpindahan_benda(40,20)
print(y)

2.0

Figure 30: Jawaban latihan fungsi dalam Python.

In [62]:
import numpy as np

In [63]:
def luas_trapesium(sisi_atas,sisi_bawah,tinggi):
    luas = (1/2)*(sisi_atas+sisi_bawah)*tinggi
    return luas
def luas_jajar_genjang(alas,tinggi):
    luas = alas*tinggi
    return luas
def luas_persegi(sisi):
    luas = sisi*sisi
    return luas
def luas_layang_layang(diagonal1_diagonal2):
    luas = (1/2)*diagonal1*diagonal2
    return keliling

In [64]:
jenis_bidang = input("Masukkan jenis bidang ")
if jenis_bidang.upper() == 'TRAPESIUM' :
    sisi_atas = float(input('Berapakah panjang sisi atasnya? '))
    sisi_bawah = float(input('Berapakah panjang sisi bawahnya? '))
    tinggi = float(input('Berapakah tingginya? '))
    luas = luas_trapesium(sisi_atas,sisi_bawah,tinggi)
    print(f"Luas {jenis_bidang} yaitu {luas}")
elif jenis_bidang.upper() == 'JAJAR_GENJANG' :
    alas = float(input('Berapakah panjang alasnya? '))
    tinggi = float(input('Berapakah tingginya? '))
    luas = luas_jajar_genjang(alas,tinggi)
    print(f"Luas {jenis_bidang} yaitu {luas}")
elif jenis_bidang.upper() == 'PERSEGI' :
    sisi = float(input('Berapakah panjang sisinya? '))
    luas = luas_persegi(sisi)
    print(f"Luas {jenis_bidang} yaitu {luas}")
elif jenis_bidang.upper() == 'LAYANG_LAYANG' :
    diagonal1 = float(input('Berapakah panjang diagonal1? '))
    diagonal2 = float(input('Berapakah panjang diagonal2? '))
    luas_layang_layang(diagonal1_diagonal2)
    print(f"Luas {jenis_bidang} yaitu {luas}")
else :
    print(f"Mohon maaf bidang {jenis_bidang} yang anda masukkan tidak ada.")
    print("Hanya terdapat pilihan TRAPESIUM, JAJAR_GENJANG, PERSEGI dan LAYANG-LAYANG.")
    print('Terima Kasih')

Masukkan jenis bidang Trapesium
Berapakah panjang sisi atasnya? 20
Berapakah panjang sisi bawahnya? 30
Berapakah tingginya? 20
Luas Trapesium yaitu 500.0

In [65]:
jenis_bidang = input("Masukkan jenis bidang ")
if jenis_bidang.upper() == 'TRAPESIUM' :
    sisi_atas = float(input('Berapakah panjang sisi atasnya? '))
    sisi_bawah = float(input('Berapakah panjang sisi bawahnya? '))
    tinggi = float(input('Berapakah tingginya? '))
    luas = luas_trapesium(sisi_atas,sisi_bawah,tinggi)
    print(f"Luas {jenis_bidang} yaitu {luas}")
elif jenis_bidang.upper() == 'JAJAR_GENJANG' :
    alas = float(input('Berapakah panjang alasnya? '))
    tinggi = float(input('Berapakah tingginya? '))
    luas = luas_jajar_genjang(alas,tinggi)
    print(f"Luas {jenis_bidang} yaitu {luas}")
elif jenis_bidang.upper() == 'PERSEGI' :
    sisi = float(input('Berapakah panjang sisinya? '))
    luas = luas_persegi(sisi)
    print(f"Luas {jenis_bidang} yaitu {luas}")
elif jenis_bidang.upper() == 'LAYANG_LAYANG' :
    diagonal1 = float(input('Berapakah panjang diagonal1? '))
    diagonal2 = float(input('Berapakah panjang diagonal2? '))
    luas_layang_layang(diagonal1_diagonal2)
    print(f"Luas {jenis_bidang} yaitu {luas}")
else :
    print(f"Mohon maaf bidang {jenis_bidang} yang anda masukkan tidak ada.")
    print("Hanya terdapat pilihan TRAPESIUM, JAJAR_GENJANG, PERSEGI dan LAYANG-LAYANG.")
    print('Terima Kasih')

Masukkan jenis bidang Lingkaran
Mohon maaf bidang Lingkaran yang anda masukkan tidak ada.
Hanya terdapat pilihan TRAPESIUM, JAJAR_GENJANG, PERSEGI dan LAYANG-LAYANG.
Terima Kasih