# 5.1 Print

Figure 2: Perintah print

In [ ]:
print('Hai Semua!')

In [ ]:
print("Hai Semua!")

In [ ]:
print("Don't look back with regret, look forward with hope")

In [ ]:
print('Don't look back with regret, look forward with hope')

In [ ]:
print('He is very "HANDSOME"')

In [ ]:
print("He is very "HANDSOME"")

Figure 3: Contoh penggunaan perintah print

In [ ]:
mahasiswi = 39 
uang_di_dompet = 5000
print(mahasiswi)
print(uang_di_dompet)
print(mahasiswi*uang_di_dompet)

In [ ]:
nama_depan = 'Meyla'
spasi = ' '
nama_belakang = "Aryani"
print(nama_depan + spasi + nama_belakang)

# 5.2 Input

Figure 4: Contoh penggunaan perintah input

In [ ]:
nama = input("siapa nama anda?")
keluhan = input('Apa keluhan yang anda rasakan saat ini, ' + nama +"? ")
print("Baik ini obatnya, semoga "+ keluhan +" anda cepat sembuh yahh, " + nama + "!")

# 5.3 Tipe Data pada Python

Figure 5: Cara merubah tipe data

In [ ]:
harga_buku = input("Berapakah harga satuan buku itu? ")
harga_pensil = input("Berapakah harga satuan pensil itu? ")
print("Jumlah harga yang harus dibayar adalah Rp " + harga_buku + harga_pensil)

In [ ]:
harga_buku = input("Berapakah harga satuan buku itu? ")
harga_pensil = input("Berapakah harga satuan pensil itu? ")
jumlah_bayar = int(harga_buku) + int(harga_pensil)
print("Jumlah harga yang harus dibayar adalah Rp "+ str(jumlah_bayar))

Figure 6: Cara melihat tipe data tiap variabel

In [ ]:
type(harga_buku)

In [ ]:
type(harga_pensil)

In [ ]:
type(jumlah_bayar)

Figure 7: Program penjumlahan dua bilangan dengan menggunakan input dan print

In [ ]:
bilangan1 = input("Bilangan pertama yaitu ")
bilangan2 = input("Bilangan kedua yaitu ")
penjumlahan = float(bilangan1) + float(bilangan2)
print("Penjumlahan dari kedua bilangan yang anda masukkan yaitu "+ str(penjumlahan))

# 5.4 Formatted String

Figure 8: Mempermudah penulisan variabel menggunakan formatted string.

In [ ]:
nama_anjing = "Kiko"
sifat = 'nakal'
warna = 'putih'
print(nama_anjing + ' merupakan anjing ' + sifat + ' yang mempunyai bulu berwarna ' + warna +'.')

In [ ]:
print(f'{nama_anjing} merupakan anjing {sifat} yang mempunyai bulu berwarna {warna}.')

In [ ]:
print(f"{nama_anjing} merupakan anjing {sifat} yang mempunyai bulu berwarna {warna}.")

# 5.5 Strings Index

Figure 9: Menampilkan bagian dari data berupa string dengan menggunakan indexnya.

In [ ]:
kegiatan = 'menari Bali'

In [ ]:
print(kegiatan[0:5])

In [ ]:
print(kegiatan[0:-5])

In [ ]:
print(kegiatan[2:-3])

In [ ]:
print(kegiatan[1:-7:2])

In [ ]:
print(kegiatan[:-8])

In [ ]:
print(kegiatan[3:])

In [ ]:
print(kegiatan[:])

# 5.6 Strings Methods

Figure 10: Beberapa jenis Method yang digunakan pada string.

In [ ]:
kalimat = 'Kereta tiba pukul empat sore'

In [ ]:
print(len(kalimat))

In [ ]:
kalimat.upper()

In [ ]:
kalimat.lower()

In [ ]:
kalimat.find('sore')

In [ ]:
kalimat.find('kereta')

In [ ]:
kalimat.replace('Kereta', 'Pesawat')

In [ ]:
kalimat.replace('kereta', 'Pesawat')

In [ ]:
print('Kereta' in kalimat)

In [ ]:
print('kereta' in kalimat)

# 5.7 Operasi Matematika di Python

Figure 11: Berbagai jenis operator matematika pada Python

In [ ]:
print(21+39)
print(21-39)
print(21*39)
print(100/21)
print(100//21)
print(100%21)
print(21**39)
x=6
x+=9
print(x)
x-=10
print(x)
x*=5
print(x)

# 5.8 Operator Perbandingan di Python

Figure 12: Bandingkan hasil program sebelah kiri dengan yang kanan .

In [ ]:
x = 10>2
print(x)
x = -5<1
print(x)
x = 10 >= 2
print(x)
x = -5 <= 1
print(x)
x = 4 == 4
print(x)
x = 8 != 0
print(x)

In [ ]:
x = 2>10
print(x)
x = 1<-5
print(x)
x = 2 >= 10
print(x)
x = 1 <= -5
print(x)
x = 8 == 0
print(x)
x = 4 != 4
print(x)

# 5.9 Operator Logika di Python

Figure 13: Hasil beberapa operator logika di Python

In [ ]:
baju_merah = 12
baju_putih = 25
print(baju_merah > 10 and baju_putih < 39)

In [ ]:
print(baju_merah < 10 or baju_putih < 39)

In [ ]:
print(baju_merah < 10 or baju_putih > 39)

In [ ]:
print(not (baju_merah < 10 or baju_putih > 39))

# 5.10 Operator if di Python

Figure 14: Contoh penerapan operator if

In [ ]:
poin = float(input("Poin penilaian tarian anda adalah "))
if poin >= 90 :
    print ("Anda masuk ke kelas pertama")
    print ("Keren banget, selamat ya!")
if poin < 90 and harga >= 80:
    print ("Anda masuk ke kelas kedua")
    print ("lebih dimantapkan lagi tariannya ya!") 
if poin >= 75 and poin <80:
    print ("Anda masuk ke kelas ketiga")
    print ("Lebih rajin berlatih lagi ya!")

In [ ]:
poin = float(input("Poin penilaian tarian anda adalah "))
if poin >= 90 :
    print ("Anda masuk ke kelas pertama")
    print ("Keren banget, selamat ya!")
elif poin >= 80:
    print ("Anda masuk ke kelas kedua")
    print ("lebih dimantapkan lagi tariannya ya!") 
else:
    print ("Anda masuk ke kelas ketiga")
    print ("Lebih rajin berlatih lagi ya!")

Figure 15: Jawaban latihan operator if.

In [ ]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

# 5.11 While loop

Figure 16: Contoh penerapan operator while loop

In [ ]:
a = 5
while a < 10:
    print("Angka " + str(a)+" lebih kecil dari 10")
    a += 1